/* Style for the container div */
.suggestions-container {
    margin-top: 1rem;
    margin-left: 2.5rem;
  }
  
  /* Style for the header "Suggestions for you" */
  .suggestions-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: bold;
    color: #9ca3af;
    margin-bottom: 1.25rem;
  }
  
  /* Style for the "See All" button */
  .see-all-btn {
    color: #6b7280;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Style for each suggestion item */
  .suggestion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.75rem;
  }
  
  /* Style for the user avatar */
  .suggestion-avatar {
    width: 3rem;
    height: 3rem;
    border: 2px solid #f3f4f6;
    border-radius: 999px;
    padding: 1px;
    cursor: pointer;
  }
  
  /* Style for the user details */
  .suggestion-details {
    flex: 1;
    margin-left: 0.5rem;
  }
  
  /* Style for the username */
  .suggestion-username {
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
  }
  
  /* Style for the user company */
  .suggestion-company {
    font-size: 0.625rem;
    font-weight: 300;
    color: #64676b;
  }
  
  /* Style for the "Follow" button */
  .follow-btn {
    border: none;
    color: #3b82f6;
    background-color: transparent;
    font-size: 0.625rem;
    cursor: pointer;
    font-weight: bold;
  }
  